.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

body {
    background: linear-gradient(100deg, rgba(63, 63, 63, 0.8) 1%, rgba(248, 244, 244, 0) 95%);
}

.text-center {
    color: rgb(222, 213, 199);
}


p {
    height: 30px;
    overflow: scroll;
}

::-webkit-scrollbar {
    display: none;
}

h5 {
    overflow: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.card-title{
    height: 50px;
    color: rgb(107, 87, 87);
}

.year {
    font-size: larger;
}

.bookmark-box{
    font-size: 25px !important;
    padding: 30px ;
    background: rgb(165, 69, 69);
    color: aliceblue;
    text-decoration: none;
    border-radius: 20px  !important;
    /* padding: 50px !important; */
     
}
.bookmark:active {
    color: aquamarine;
}